<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simple MVC App</title>
</head>

<body>
    <h1>WELCOME</h1>
    <p>Welcome to the Simple MVC App!</p>
    <a href="/Stuff">More STUFF</a>
</body>

</html>