<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simple MVC Rat App</title>
</head>

<body>
    <img src="https://steamuserimages-a.akamaihd.net/ugc/1833550089708228996/3F5F53BB04C2CF972C0906802BDADA1B498D7D82/?imw=268&imh=268&ima=fit"
        width="200px">
    <h1></h1>WELCOME TO RAT-BOYAS RAT FORUM</h1>
    <p>Welcome to the Simple MVC Rat App!</p>
    <a href="/Stuff">Enter The Rat Dungeon</a>
</body>

</html>